<app-pagination [count]="total$ | async" [page]="page$ | async" [perPage]="size$ | async" (goPage)="goToPage($event)"
                (goNext)="goToNext()" (goPrev)="goToPrevious()"></app-pagination>
<label>Size:
  <input type="number" min="1" [(ngModel)]="size" (change)="sizeChanged()">
</label>
