<div *ngIf="results$ | async" class="table">
  <div class="row">
    <div class="cell">Action</div>
    <div class='cell' *ngFor="let header of headers$ | async">{{header}}</div>
  </div>
  <div class="body" id="body">
    <div *ngFor="let result of results$ | async" class="row">
      <div class="cell"><button (click)="submit(result.id, result.status)">Submit</button></div>
      <div class="cell" *ngFor="let header of headers$ | async">{{result[header]}}</div>
    </div>
  </div>
</div>

