.table
  overflow-x: auto
  overflow-y: hidden
  white-space: nowrap

.cell
  width: 10rem
  display: inline-block
  white-space: normal
  word-wrap: break-word

.row
  border-bottom: black 1px solid
  width: max-content

.body
  height: calc(100vh - 120px)
  overflow-y: auto
  width: max-content
