\:host
  flex: 0 0 30px
  display: flex
  .pagination
    width: 100%
    position: relative
    flex: 1
    background: grey
    display: flex
    flex-direction: row
    align-items: center
    .description
      position: absolute
      top: 50%
      transform: translate(0, -50%)
      left: 1rem
      .page-counts
        margin-right: 1rem * 2

    .numbers
      display: block
      text-align: center
      flex: 1
      button
        flex: 0 0 auto
        outline: none
        border: 0
        padding: 0 (1rem / 2)
        background: transparent
        cursor: pointer
        &.active
          color: lightgray

        &.disabled
          color: lightgrey

  .page-link
    color: black
    font-weight: bold
    &.active
      color: lightgray

  .align-block-center
    margin-left: auto
    margin-right: auto
ul
  list-style: none
