<div *ngIf="count > 0" class="align-block-center">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <button class="search-page-link" (click)="onPage(1)" [disabled]="page === 1 || loading" [ngClass]="{ 'disabled': page === 1 || loading }">&lt;&lt; First</button>
    </li>
    <li class="page-item">
      <button class="search-page-link" (click)="onPrev()" [disabled]="page === 1 || loading" [ngClass]="{ 'disabled': page === 1 || loading }">&lt; Previous</button>
    </li>
    <li class="page-item" *ngFor="let pageNum of getPages()">
      <button class="page-link" (click)="onPage(pageNum)" [disabled]="page === pageNum || loading" [ngClass]="{'active': pageNum === page, 'disabled': loading}">{{ pageNum }}</button>
    </li>
    <li class="page-item">
      <button class="search-page-link" (click)="onNext(true)" [disabled]="lastPage() || loading" [ngClass]="{ 'disabled': lastPage() || loading }">Next &gt;</button>
    </li>
  </ul>
</div>
