<div *ngIf="results$ | async" class="table">
  <div class="row header">
    <div class='cell' *ngFor="let header of headers$ | async">{{header}}</div>
  </div>
  <div class="body">
    <div *ngFor="let result of results$ | async" class="row">
      <div class="cell" *ngFor="let header of headers$ | async">{{result[header]}}</div>
    </div>
  </div>
</div>
