.table
  white-space: nowrap

.cell
  width: 10rem
  display: inline-block
  white-space: normal
  word-wrap: break-word

.row
  border-bottom: black 1px solid
  width: max-content

.header
  position: sticky
  top: 0
  width: max-content
  background-color: white

.body
  margin-top: 1.5rem
